<%- include('../layout/header');  %>

    <div class="card mt-3">
        <div class="card-body">
            <div class="card-header">
                <div class="card-title">
                    <h3>Add Category Page</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <div class="row mx-0 mt-3">
                <div class="col-12">
                    <div class="table-responsive">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                    <form action="/category/add" method="post" enctype="multipart/form-data">
                                        <div class="col-12 d-flex">
                                            <div class="col-6 mt-2">
                                                    <label for="name">Category Name</label>
                                                    <input type="text" id="name" name="name" class="form-control" placeholder="Enter name...">
                                            </div>

                                            <div class="col-6 mt-2">
                                                <label for="description">Description</label>
                                                <input type="text" class="form-control" id="description" name="description" placeholder="Enter description...">
                                            </div>
                                        </div>

                                        <div class="col-12 d-flex">
                                            
                                            <div class="col-6 mt-2">
                                                <label for="status"> Status </label>
                                                    <select class="form-control" name="status" id="status">
                                                            <option value="0">Deaktiv</option>
                                                            <option value="1">Aktiv</option>
                                                    </select>
                                            </div>

                                            <div class="col-6 mt-2">
                                                <label for="image">Image</label>
                                                <input class="form-control" type="file" id="image" placeholder="Enter image file...">
                                            </div>

                                        </div>

                                            <div class="col-6 ml-2 mt-2">
                                                    <label for="isDeleted"> IsDeleted </label> 
                                                        <select class="form-control" name="isDeleted" id="isDeleted">
                                                            <option value="0">Deaktiv</option>
                                                            <option value="1">Aktiv</option>
                                                        </select>
                                            </div>

                                            <div class="card-footer mt-5">
                                                <div class="row">
                                                    <div class="col-lg-5"></div>
                                                    <div class="col-lg-7">
                                                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                                        <a href="/categories"><button type="button" class="btn btn-secondary">Cancel</button></a>
                                                    </div>
                                            </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('../layout/footer');  %>